<div class="container">

  <div>
    <p-card>
      <div class="p-col-12 p-fluid">
        <h3>Agendamento de transferência</h3>
      </div>

      <div>
        <div class="p-col=12">
          <p-table
            [value] = agendamentos
            styleClass="p-datatable-gridlines"
            [paginator]="true"
            [rows]="5"
            selectionMode="single"
            [responsive]="true"
            selectionMode="single">
            <ng-template pTemplate="emptymessage">
              Não há agendamentos de transferências
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                  <th>Data do cadastro</th>
                  <th class="col-situacao-header">Conta de origem</th>
                  <th class="col-parcela-header">Conta de destino</th>
                  <th class="col-data-header">Data para transferência</th>
                  <th class="col-data-header">Taxa</th>
                  <th class="col-valor-header">Valor</th>
                  <th class="col-acoes-header">valor da taxa</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamentos>
              <tr>
                  <td class="col-data-content">{{lancamentos.dataAgendamento | date: 'dd/MM/y'}}</td>
                  <td class="col-situacao-content">{{lancamentos.contaOrigem}}</td>
                  <td class="col-parcela-content">{{lancamentos.contaDestino}}</td>
                  <td class="col-data-content">{{lancamentos.dataTransferencia | date: 'dd/MM/y'}}</td>
                  <td class="col-data-content">{{lancamentos.percentualTaxa | number : '1.1-2'}} %</td>
                  <td class="col-valor-content">{{lancamentos.valor | currency: 'BRL'}}</td>
                  <td class="col-valor-content">{{lancamentos.valorTaxa | currency: 'BRL'}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorcenter">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>

      </p-table>

      <div class="p-col-12">
        <button pButton label="Agendar transferência" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
                pTooltip="Agendar transferência" tooltipPosition="top" (click)="showModalDialog();"></button>
      </div>

        </div>
      </div>


      <p-dialog header="Agendamento de transferência" [(visible)]="display" [modal]="true"
      [draggable]="true" [resizable]="true" position="top">
      <app-agendamento-cadastro></app-agendamento-cadastro>
      </p-dialog>


  </p-card>
  </div>



</div>
