<div class="container">

  <div>
    <p-card>
      <div class="p-col-12 p-fluid">
        <h3>Agendamento de transferência</h3>
      </div>

      <div>
        <div class="p=col=12">
          <p-table
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [responsive]="true"
      selectionMode="single">
      <ng-template pTemplate="emptymessage">
        Não há agendamentos de transferências
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th>Data do cadastro</th>
            <th class="col-situacao-header">Conta de origem</th>
            <th class="col-parcela-header">Conta de destino</th>
            <th class="col-data-header">Data para transferência</th>
            <th class="col-data-header">Taxa</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header">valor da taxa</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamentos>
        <tr>
            <td>{{lancamentos.descricao}}</td>
            <td class="col-situacao-content">{{lancamentos.situacao}}</td>
            <td class="col-parcela-content">{{lancamentos.numeroParcela}}/{{lancamentos.quantidadeParcelas}}</td>
            <td class="col-data-content">{{lancamentos.datavencimento | date: 'dd/MM/y'}}</td>
            <td class="col-data-content">{{lancamentos.dataPagamento | date: 'dd/MM/y'}}</td>
            <td class="col-valor-content">{{lancamentos.valor | currency: 'BRL'}}</td>

            <td class="col-acoes">
              <button pButton icon="pi pi-pencil" class="p-button-raised p-button-rounded p-button-secondary p-mr-1 p-button-outlined"
              pTooltip="Editar Lançamento" tooltipPosition="top"></button>



              <button pButton icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger p-mr-1 p-button-outlined"
              pTooltip="Remover lançamento" tooltipPosition="top" ></button>

              <button pButton icon="pi pi-search" class="p-button-raised p-button-rounded p-button-help p-mr-1 p-button-outlined"
              pTooltip="Pesquisar chave" tooltipPosition="top"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorcenter">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>

      </p-table>

      <div class="p-col-12">
        <button pButton label="Novo Lançamento" icon="pi pi-plus-circle" class="p-button-raised p-button-primary"
                pTooltip="Novo lançamento" tooltipPosition="top"></button>
      </div>

        </div>
      </div>
  </p-card>
  </div>

</div>
